.footer-table{
    table-layout: fixed;
    width: 100%;
    text-align: left;
}
.footer-heading{
    font-size: 30px;
    margin: 20px 0px;
    font-weight: 700;
}
td{
    width: 300px;
}
tr{
    width: 100%;
}
@media only screen and (max-width:1024px) {
    .footer-table{
        table-layout: auto;
        width: 90%;
    }

}