.main{
    font-family: "Lato", sans-serif;
    text-align: center;
    color: white;
    width: 100%;
    background-image: url(../Images/web_bg.png);
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.second{
    font-family: "Lato", sans-serif;
    text-align: center;
    color: white;
    width: 100%;
    background-image: url(../Images/help.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}
.space{
    letter-spacing: 2px;
}
