.number{
    background-color: #04BFBF;
    color: white;
    font-weight: 200;
    padding: 20px 10px;
    font-size: small;
    max-width: 100%;
}
.container{
    width: 100%;
    display: flex;
}
.item{
    background-color: white;
    margin: 5px 10px;
    border: solid #E6E6E6 0.5px;
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
}
.name{
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 1px;
    font-weight: 400;
    font-size: 16px;
    font-family: FiraSans;
    color: #043540;
}
.map{
    margin-left: auto;
    margin-right: 30px;
    font-size: 7px;
    margin-top: 10px;
    color: #04BFBF;
    display: flex;
}
.type{
    color: grey;
    font-size: 13px;
    margin: 10px 10px 2px 10px;
    font-weight: 400;
    align-self: center;
    font-family: FiraSansItalic;
}
.fees{
    margin: 10px 10px;
    font-weight: 500;
    font-size: 13px;
    color: #043540;
    display: flex;
}
.showImage{
    object-fit: cover;
    height: auto;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    border-radius: 5px;
}
.itemButton{
    width: 100%;
    border: none;
    height: auto;
    fill: none;
    background-color: transparent;
    text-align: left;
    font-weight: 300;
    font-size: 17px;
}
.overlap{
    position: absolute;
    top: 0;
    z-index: 3;
}
.alternateImg{
    height: 200px;
    background-size: cover;
    display: flex;
}
.age{
    background-color: #00c600;
    margin-left: 10px;
    padding: 3px 7px;
    width: 60px;
    color: white;
    font-size: 11px;
    border-radius: 3px;
    margin-top: -12px;
    font-weight: 400;
    min-width: 50px;
}
.newType{
    background-color: #f83b82;
    margin-left: 10px;
    padding: 3px 7px;
    width: auto;
    white-space: nowrap;
    min-width: 50px;
    color: white;
    font-size: 11px;
    border-radius: 3px;
    margin-top: -12px;
    margin-bottom: 0px;
    font-weight: 400;
}
.courseDisplay{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    overflow-x: scroll;
    justify-content: space-between;
    padding: 0px 10px;
}
.displayContainer{
    padding: 10px;
    border: solid gray 1px;
    border-radius: 5px;
    font-size: 11px;
    white-space: normal;
    width: 150px;
    min-height: 130px;
    margin: 10px;
}
.bottom{
    align-self: flex-end;
}


  .animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

 .imageCarousel {
	display: block;
	width: auto;
	height: 250px;
	margin-right: 5px;
  }
.carouselContainer{
	display: flex;
	overflow-x: scroll;
	width: 100%;
	background-color: #E6E6E6;
}
.overlayBlack{
	position: absolute; 
	top: 0; 
	background-image: linear-gradient(to bottom,black, rgba(0,0,0,0));
	height: 50px; 
	max-width: 100%;
	width: 100%;
	opacity:1;
	color: white;
}
.overlayContainer {
	position: relative;
	max-width: 100%;
	background-color: #E6E6E6;
  }
.backIcon{
	margin-top: 20px;
	margin-left: 20px;
	color: #FFFF;
}
.displayTitle{
	margin: 10px 10px;
	max-width: 100%;
	font-weight: 600;
	color: #043540;
	align-self: center;
	font-size: 16px;
	display: flex;
}
.mapIcon{
	margin-left: auto;
	margin-right: 20px;
}
.displaySubtitle{
	margin: 0px 10px;
	max-width: 100%;
	font-weight: 300;
	font-size: small;
	height: auto;
}
.classCard{
	border-radius: 5px;
	height: 180px;
	width: 140px;
	background-color: white;
	margin: 20px 10px;
	text-align: center;
	border-radius: 20px 0px 20px 0px;
	font-size: 15px;
	font-weight: 300;
	padding: 10px 10px;
}
.offers{
	height: auto;
	padding: 6px 30px;
	color: white;
	white-space: nowrap;
	width: 300px;
	margin: 5px 10px;
	border-radius: 5px;
	font-size: 13px;
	font-weight: 500;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.width_{
	width: 100px;
	margin: 0px 10px;
}
.displaySubtitle2{
	margin: 10px 0px 0px 10px;
	max-width: 100%;
	font-weight: 500;
	font-size: small;
	display: flex;
}
.list{
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	width: auto;
	height: 40px;
	display: inline-block;
	background-color: #04BF7B;
	color: white;
}
.qualifications{
	margin: 0px 10px;
	max-width: 100%;
	font-weight: 300;
	font-size: small;
	color: #043540;
}
.courseItem{
	font-size: 14px;
	font-weight: 600;
	margin: 10px 10px 0px 10px;
	font-family: FiraSans;
}
.displayAge{
	background-color: #58f73b;
	padding: 5px;
    width: auto;
    color: white;
    font-size: 10px;
	border-radius: 3px;
	font-weight: 400;
	margin-bottom: 10px;
	margin-top: 10px;
}
.displayType{
	background-color: #f83b82;
    margin-left: 10px;
    padding: 5px;
    width: auto;
    white-space: nowrap;
    color: white;
    font-size: 10px;
    border-radius: 3px;
	font-weight: 400;
	margin-bottom: 10px;
	margin-top: 10px;
}
.eligibility{
	width: 100%;
}